// @mixin heading($fontsize:64px) {
//   font-family: 'Playfair Display', serif;
//   font-size: $fontsize;
// }

// .wrapper {
//   max-width: 1200px;/*max width for contents area コンテンツ幅の最大値*/
//   margin: 0 auto; /*placing in center 中央に配置*/
//   padding: 0 4%; /* padding for smart phone スマートフォン向け余白の指定*/
// }


// a {
//   text-decoration: none;
// }

// header {
//   background-color: #FCE9A8;
//   // top: 0;
//   // z-index: 10000;
//   // position: fixed;
//   // width: 100%;
//   nav {
//     .logo {
//       width: 350px;
//     }
//     .navbar-toggler .navbar-toggler-icon {
//       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
//   }
//     .fa-user, .fa-cart-shopping {
//       padding-left: 18px;
//       font-size: 30px;
//       transform: translateY(5px);
//       color: #565656;
//     }
//   }
// }


// .hero_home {
//   background-image:url("../assets/hero_image.jpg");
//   min-height: 600px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: top;
//   .hero_homeContent {
//     transform: translateY(150px);
//     h1 {
//       @include heading();
//       color: white;
//       font-weight: 600;
//       text-shadow: 2px 2px 2px rgba(0,0,0,0.24);
//     }
//     .btn_wrapper {
//       margin-top: 40px;
//       a {
//         color: #1E1E1E;
//         font-size: 24px;
//         background-color: #FFC83C;
//         padding: 16px;
//         border-radius: 15px;
//         box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.19);
//       }
//     }
//   }
// }

// .recommends {
//   h2 {
//     display: flex;
//     justify-content: center;
//     @include heading(60px);
//     margin: 60px 0;
//   }
// }

// footer {
//   width: 100%;
//   height: 100px;
//   background-color: #FCE9A8;
//   .social {
//     display: flex;
//     justify-content: center;
//     padding-top: 40px;
//   }
//   i {
//     font-size: 24px;
//     padding-left: 16px;
//   }
// }


// @media (min-width:768px) and(max-width:991px) {
//   nav {
//     .logo {
//       width: 150px;
//     }
//   }
//   .hero_home {
//     min-height: 480px;
//     .hero_homeContent {
//       h1 {
//         @include heading(45px);
//       }
//       .btn_wrapper {
//         a {
//           font-size: 18px;
//         }
//       }
//     }
//   }

//   .recommends {
//     h2 {
//       @include heading(50px);
//     }
//   }
// }


// @media (max-width:767px) {
//   nav {
//     .logo {
//       height: 40px;
//     }
//   }
//   .hero_home {
//     min-height: 300px;
//     .hero_homeContent {
//       transform: translateY(80px);
//       h1 {
//         @include heading(24px);
//       }
//       .btn_wrapper {
//         a {
//           font-size: 16px;
//           padding: 12px;
//         }
//       }
//     }
//   }

//   .recommends {
//     h2 {
//       @include heading(32px);
//     }
//   }
// }
