<div class="home">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="../assets/logo.svg" alt="Bench Bakery logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav main_nav">
            <form class="d-flex justify-content-center">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item">
              <i class="fa-solid fa-user"></i>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-cart-shopping"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="hero_home">
    <div class="hero_homeContent wrapper">
      <h1>Enjoy our Fresh and Nutritious Bread!</h1>
      <div class="btn_wrapper">
        <a href="">See Products</a>
      </div>
    </div>
  </section>

  <section class="recommends wrapper">
    <h2>Our Recommends</h2>
    <recommends></recommends>
  </section>

  <footer>
    <div class="social">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-pinterest"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  </footer>
</div>
